<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Sahabat Umrah</span>
  <button mat-button>Home</button>
  <button mat-button [matMenuTriggerFor]="masters">Master Data</button>
  <button mat-button [matMenuTriggerFor]="transactions">Transactions</button>
  <mat-menu #masters="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="residensces">Residensial</button>
    <button mat-menu-item>Airline</button>
  </mat-menu>
  <mat-menu #residensces="matMenu">
    <button mat-menu-item routerLink="/master/provinsi">Provinsi</button>
    <button mat-menu-item routerLink="/master/kabupaten">Kabupaten/Kota</button>
    <button mat-menu-item routerLink="/master/kecamatan">Kecamatan</button>
    <button mat-menu-item routerLink="/master/kelurahan">Kelurahan</button>
  </mat-menu>
  <mat-menu #transactions="matMenu">
    <button mat-menu-item>Jamaah</button>
    <button mat-menu-item>Registrasi</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-button>Sign out</button>
</mat-toolbar>
