<h2>List Kabupaten Kota</h2>
<div>
  <div>
    <mat-form-field>
      <mat-label>Filter By</mat-label>
      <mat-select
        placeholder="Search Kabupaten Kota By"
        [(value)]="searchColumn"
      >
        <mat-option
          *ngFor="let search of searchColumnsList"
          [value]="search.value"
          (onSelectionChange)="searchByCriteria($event, search)"
        >
          {{ search.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter Value</mat-label>
      <input
        matInput
        [(ngModel)]="searchValue"
        (input)="searchByValue(searchValue)"
        placeholder="Ex. Aceh"
      />
    </mat-form-field>
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" (click)="search($event)">
      Search
    </button>
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" (click)="openAddForm()">
      Add
    </button>
  </div>

  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.Id }}</td>
    </ng-container>
    <ng-container matColumnDef="Code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let row">{{ row.Code }}</td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="TimeZoneInfo">
      <th mat-header-cell *matHeaderCellDef>Time Zone Info</th>
      <td mat-cell *matCellDef="let row">{{ row.TimeZoneInfo }}</td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="openEditForm(row)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="deleteRecord(row)">
          <mat-icon color="warn">delete</mat-icon>
          Delete
        </button>
      </td>
    </ng-container>
  </table>
  <mat-paginator
    #paginator
    [length]="totalData"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizes"
    (page)="onPaginateChange($event)"
    showFirstLastButtons
  ></mat-paginator> -->
</div>
