<div class="header">
  <div id="navigation-menu">
    <ul id="navigation-item">
      <li><a href="#">Home</a></li>
      <li><a href="#">Get started</a></li>
      <li><a href="#">Photos</a></li>
      <li><a href="#">Gear</a></li>
      <li><a href="#">Forum</a></li>
    </ul>
  </div>
  <div class="brand">
    <div class="title">
      <p>Sahabat Umrah</p>
    </div>
    <div class="logo">
      <img
        id="sahabatlogo"
        src="../assets/kaaba.png"
        alt="Umrah"
        style="width: 30px; height: 30px"
      />
    </div>
  </div>
</div>
<div class="main"></div>
<!-- <div class="footer">
  <p>Umrah system copyrights @2024</p>
</div> -->
