table {
  width: 100%;
}

.spinner__loading {
  display: flex;
  justify-content: center;
}

.no-padding {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

.Action-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}
