<mat-form-field>
  <mat-label>Province: </mat-label>

  <input
    matInput
    aria-label="Select Province"
    placeholder="Select Province"
    [matAutocomplete]="auto"
  />

  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="display"
    (optionSelected)="onOptionSelected($event.option.value)"
  >
    <mat-option
      *ngFor="let item of filteredItems | async; let index = index"
      [value]="item"
    >
      {{ item.Name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
